body {
    font-family: sans-serif;
}

.active-word {
    width: auto;
    font-size: 10vh;
    line-height: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.next-word-button {
    width: auto;
    font-size: 4vh;
    height: 8vh;
    line-height: 8vh;
    background-color: aquamarine;
    text-align: center;
    margin: 7vw;
    border-radius: 5px;
}

.start-button {
    width: auto;
    font-size: 4vh;
    height: 8vh;
    line-height: 8vh;
    background-color: aquamarine;
    text-align: center;
    margin: 7vw;
    border-radius: 5px;
}

.settings-section {
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
}

.difficulty-title {
    font-size: larger;
    font-weight: bold;
}

.settings-difficulty {
    margin-left: -10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: inline-block;
    text-align: left;
}