body {
    font-family: sans-serif;
    background: #F1FAEE;
}

.settings-title {
    font-family: 'Londrina Shadow', sans-serif;
    width: auto;
    font-size: 20vmin;
    margin: 1vmin 5vmin 1vmin 5vmin;
    text-align: center;
    font-weight: bold;
}

.active-word {
    width: auto;
    font-size: 10vmax;
    line-height: 40vmin;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.remaining-words {
    width: auto;
    font-size: 3vmin;
    line-height: 10vmin;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.next-word-button {
    width: auto;
    font-size: 4vmax;
    height: 8vmax;
    line-height: 8vmax;
    background-color: #e63946;
    text-align: center;
    margin: 2vmax 7vmax 2vmax 7vmax;
    border-radius: 5px;
}

.start-button {
    width: 90vmin;
    font-size: 8vmin;
    line-height: 16vmin;
    background-color: #e63946;
    color: #F1FAEE;
    text-align: center;
    margin: 2vmin;
    border-radius: 5px;
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.settings-section {
    width: 90vmin;
    margin: 1vmin 5vmin 1vmin 5vmin;
    text-align: center;
}
.settings-section > div {
    margin: 1vmin 0 1vh 0;
}

.difficulty-title {
    font-size: larger;
    font-weight: bold;
    margin: 1vmin 0vmin 1vmin 0vmin;
}
.allowed-letters-title {
    font-size: larger;
    font-weight: bold;
}

.settings-difficulty {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

.all-words {
    line-height: 6vmin;
}

.keyboard {
    line-height: 8vmin;
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.difficulty-slider > img {
    height: 5vmin;
}

.key {
  margin: 1.5vmin;
  text-align: center;
  border-radius: 5px;
  background-color: #A8DADC;
  color: #1D3557;
  display: block;
  padding: 0.5vmin;
  font-weight: bold;
  min-width: 6vmin;
}

.active {
    background-color: #457b9d;
    color: #F1FAEE;
}